// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/_theme.scss";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";


.pdt-10 {
    padding-top: 10px;
}

.pdb-10 {
    padding-bottom: 10px;
}

.pdl-10 {
    padding-left: 10px;
}

.pdr-10 {
    padding-right: 10px;
}

.mgt-10 {
    margin-top: 10px;
}

.mgb-10 {
    margin-bottom: 10px;
}

.mgl-10 {
    margin-left: 10px;
}

.mgr-10 {
    margin-right: 10px;
}
