.main {
    display: flex;
    width: 100vm;
    .main-sidebar {
        width: 260px;
        overflow-x: auto;
        border-right: 2px solid #ccc;
    }
    .main-content {
        flex: 1;
    }
}